
/* Roboto Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --text-color: #cdd6f4;
  --hard-color: #181825;
  --base-bg: #9399b2;
  --base-bg-1: #eff1f5;
  --surface-color: #45475a;
  --mauve-color: #cba6f7;
  --teal-color: #94e2d5;
  --pink-color: #f5c2e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 50px;
}



html {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}


body {
  width: 100%;
  min-height: 100vh;
}

/* full container */
.container {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(1, 2fr) repeat(1, 6fr);
}
/* full container */


/* sidebar section */
.container .sidebar {
  grid-column: 1 / span 1;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 3.3rem;
  background-color: var(--base-bg);
  color: var(--hard-color);

  .bold-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
  
    img { /* dashboard logo */
      width: 50px;
      height: 50px;
    }
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    .content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

}


/* sidebar section */

/* header section */
.container .header {
  grid-column: 2 / span 1;
  background-color: var(--base-bg-1);
  .header-notch {
    display: grid;
    grid-template-columns: repeat(1, 4fr) repeat(1, 2fr);
    .search-container {
      padding: 1rem;
      display: flex;
      align-items: center;
      gap: .5rem;
      
      img { /* search icon */
        width: 40px;
        height: 40px;
      }

      input { /* search input field */
        outline: none;
        padding: .7rem;
        color: var(--text-color);
        font-size: .9rem;
        flex: 1 1 120px;
        background-color: var(--surface-color);
        height: 1.8rem;
        border-radius: .8rem;
        border: none;
        box-shadow: 1.3px 2px 1px 2px #00000032;
      }
    }

    .side-info {
      display: grid;
      grid-template-columns: repeat(2, 50px) repeat(1, 100px);
      gap: .3rem;
      font-weight: bold;
      justify-content: center;
      align-items: center;

      img { /* bell icon */
        width: 30px;
        height: 30px;
      }

      img#hero-icon-1 { /* user logo icon */
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 2px 2px 2px 2px #252525;
      }

      .user-name {
        color: var(--surface-color);
        font-weight: bold;
        font-weight: 1rem;
      }
    }
  }

  .header-user-info{
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(1, 4fr) repeat(1, 2fr);
    .user-info-container {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.2rem;
      color: var(--surface-color);
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: 1px 2px 2px #252525;
      }
      .user-name-highlight {
        font-weight: bold;
        font-size: 1.3rem;
      }
    }

    .user-actions-container {
      display: flex;
      gap: .8rem;
      align-items: center;
      button {
        flex: 1 1 80px;
        height: 40px;
        background-color: var(--pink-color);
        border-radius: .8rem;
        border: none;
        box-shadow: 1px 1px 2px #252525;
      }
    }

  }
}
/* header section */


/* main section */
.container .main {
  display: grid;
  grid-template-columns: repeat(1, 3fr) repeat(1, 1fr);

  .left-side {
    padding: 1rem;
    .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 1rem;
      .card {
        box-shadow: 1px 1px 2px 2px #2525257c;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 250px;
        padding: .8rem;
        border-radius: .8rem;
        gap: 1rem;
        position: relative;
        color: #252525;
        .card-title {
          font-size: 1.5rem;
          font-weight: bold;
        }
        p {
          font-size: 1rem;
        }
        .side-links {
          position: absolute;
          bottom: 10px;
          right: 10px;
          img {
            width: 20px;
            margin: 0 5px;
            height: auto;
          }
        }
      }
      .card:hover {
        cursor: pointer;
        box-shadow: 1px 1px 5px 5px var(--pink-color);
      }
    }
  }

  .right-side {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .section-container {
      display: flex;
      flex-direction: column;
      .docs-container {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        background-color: var(--mauve-color);
        box-shadow: 1px 1px 2px 2px #2525257c;
        border-radius: .8rem;
        .doc-show {
          color: #252525;
          border-bottom: 3px solid #2525257c;
          padding-bottom: .8rem;
          margin-bottom: .8rem;
          border-radius: .2rem;
          .title {
            font-size: 1.1rem;
            font-weight: bold;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

/* main section */


